[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
anyio = "*"
asgiref = "*"
bcrypt = "*"
beanie = "*"
cffi = "*"
click = "*"
colorama = "*"
cryptography = "*"
dnspython = "*"
ecdsa = "*"
email-validator = "*"
fastapi = "*"
h11 = "*"
httptools = "*"
idna = "*"
motor = "*"
multidict = "*"
passlib = "*"
pyasn1 = "*"
pycparser = "*"
pydantic = "*"
pymongo = "*"
python-decouple = "*"
python-dotenv = "*"
python-jose = "*"
python-multipart = "*"
pyyaml = "*"
rsa = "*"
six = "*"
sniffio = "*"
starlette = "*"
toml = "*"
typing-extensions = "*"
uvicorn = "*"
watchgod = "*"
websockets = "*"
yarl = "*"

[dev-packages]

[requires]
python_version = "3.11"
